:root {
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

h1 {
  font-size: 1rem;
  margin-bottom: 25px;
  color: blueviolet;
}

.timer {
  font-size: 3rem;
  padding: 10px 20px;
  margin: 5px;
  color: blueviolet;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: center;
}

button {
  font-size: 1.5rem;
  padding: 10px 25px;
  margin: 5px;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: aqua;
  transition: background-color 0.3s ease;
  min-width: 8.5rem;
  border: 2px solid #00e2ed;
}

button:hover {
  background-color: aquamarine;
}
