html {
    background: rgba(44, 122, 8, 0.26);
}

h1 {
    text-align: center;
}

.drums {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.drums li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #83e67f;
    text-align: center;
    transition: 0.2s ease-in;
    width: 4rem;
}

.drums .drums--play {
    background-color: red;
    transform: scale(0.8);
}

.drums li span {
    font-size: 2em;
    display: block;
}